<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="targetsFeed" value="../Packaging.Targets/bin/Debug" />
    <add key="zipFeed" value="../dotnet-zip/bin/Debug" />
    <add key="tarballFeed" value="../dotnet-tarball/bin/Debug" />
    <add key="rpmFeed" value="../dotnet-rpm/bin/Debug" />
  </packageSources>
</configuration>